 .style1
    {
        width: 100%;
        text-align:left;
    }
    .style2
    {
        width: 72px;
    }
    .style3
    {
        width: 72px;
        height: 26px;
    }
    .style4
    {
        height: 26px;
    }
    .style5
    {
        height: 26px;
        width: 92px;
    }
    .style6
    {
        width: 92px;
    }
    .style7
    {
        width: 129px;
    }
    .style11
    {
        width: 276px;
    }